{% extends "base.html" %}

{% block title %}Ableton Rack Analyzer - Home{% endblock %}

{% block content %}
<h2>Recent Racks</h2>
<ul id="recentRacks">
    <!-- Recent racks will be dynamically populated here -->
</ul>

<h2>Popular Racks</h2>
<ul id="popularRacks">
    <!-- Popular racks will be dynamically populated here -->
</ul>

<h2>Your Favorite Racks</h2>
<ul id="favoriteRacks">
    <!-- Favorite racks will be dynamically populated here -->
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
